<!DOCTYPE html>
<html>
	<head>
		<title>Desckit</title>
		<link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.css' />
		<script src='/javascripts/jquery-1.8.2.min.js'></script>
		<script src='/lib/bootstrap/js/bootstrap.min.js'></script>
		<link rel="stylesheet" href="/stylesheets/desckit.css" />
	</head>
	<body>
		<div id="main">
			<div id="intro">
				<div id="logo"><img src="/images/logo.png" /></div>
			</div>
			<? include internal/navigation ?>
			<div class="container">
				<? include internal/pageMaker ?>
			</div>
		</div>
	</body>
	<script src="/javascripts/desckit.js"></script>
</html>