<!DOCTYPE html>
<html>
	<head>
		<title>Desckit</title>
		<link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.css' />
		<link rel='stylesheet' href='/lib/forecast-font/iconvault-preview.css' />
		<script src='/javascripts/jquery-1.8.2.min.js'></script>
		<script src='/lib/bootstrap/js/bootstrap.min.js'></script>
		<link rel="stylesheet" href="/stylesheets/desckit.css" />
	</head>
	<body>
		<div id="main">
			<div id="intro">
				<div id="logo"><img src="/images/logo.png" /></div>
			</div>
			<? include internal/navigation ?>
			<div class="container">
				<? include internal/pageMaker ?>
			</div>
		</div>
	</body>
	<script src="/javascripts/desckit.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-523667-7']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</html>