<!DOCTYPE html>
<html>
  <head>
    <title><?= title ?></title>
    <link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/lib/forecast-font/iconvault-preview.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-1.8.2.min.js'></script>
    <script src='/lib/bootstrap/js/bootstrap.min.js'></script>
    
    <link rel='stylesheet' href='/descks/<?= desck.name ?>/<?= desck.conf.stylesheetFile || 'script.css' ?>' />
    
  </head>
  <body>
    <section id="wallpaper" class="stage">
      
    <?- output ?>
    </section>
  </body>
</html>