<div class="row">
	<div class="span2">
		<ul class="nav nav-list">
	  <li class="nav-header">My Descks</li>
	  <!-- <li class="active"><a href="#">Home</a></li>
	  <li><a href="#">Library</a></li> -->
		</ul>
	</div>
	
	<div class="descksDisplay span10">
		<? if (descks && descks.length > 0) { ?> 
			<h2>Installed Descks</h2>
			<ul class="thumbnails">
				<? for (i = 0; i < descks.length; ++i) {
				var desck = descks[i];
			
				var width = i == 0 ? 460 : 
					(i % 3) ? 300 :
					140;
				
				var height = i == 0 ? 280 : 130;
				var span = i == 0 ? 6 :
					(i % 3) ? 4 :
					2;
				?>
				<li class="span<?= span ?>">
					<a href="/descks/<?= desck.name ?>/display">
						<img style="width: <?= width ?>px; height: <?= height ?>px" src="/descks/<?= desck.name?>/thumbnail/<?= width + 'x' + height?>" class="img-rounded" />
					</a>
				</li>
				<? } ?>
			</ul>
		<? } ?>
	</div>
</div>