<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand <?= (currentPage == 'home' ? 'active' : '') ?>" href="/"><span>Desckit</span></a>
    <ul class="nav">
      <li class="<?= (currentPage == 'descks' ? 'active' : '') ?>"><a href="/descks">My Descks</a></li>
      <li class="<?= (currentPage == 'settings' ? 'active' : '') ?>"><a href="#">Settings</a></li>
      <li class="<?= (currentPage == 'about' ? 'active' : '') ?>"><a href="#">About</a></li>
    </ul>
  </div>
</div> 