
#main
	#intro 
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		background: url('/images/project_papper.png')
		z-index: 1

		&::after {
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			content: ""
			display: block
			background: rgb(255,255,255);
			background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(0,0,0,1)));
			background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%);
			background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%);
			background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%);
			background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%);
			opacity: 0.2
		}
		
		#logo
			margin: 0 auto
			text-align: center
			padding-top: 20%
	
	.navbar
		background: none
		margin-bottom: 40px
		position: relative
		z-index: 2
		.brand
			background: url('/images/logo-small-bw.png') 10px 50% no-repeat
			padding-left: 42px
			&:hover, &.active
				background-image: url('/images/logo-small.png')
				
	.container
		position: relative
		z-index: 2
		background: rgba(255,255,255, 0.9)
		box-shadow: 0 0 12px rgba(0,0,0, 0.4)
		
		.content
			padding: 30px
		
