<style>
    body {
        background-image: url('/descks/<?= desck.name ?>/foggy.jpg');
    }
</style>

<div id="time" class="prop">
    <?= date.toString("HH:mm:ss") ?></div>
<div id="date" class="prop">
    <?= date.toString("dddd MMM ddS") ?></div>

<? if (typeof weather == 'object' && weather.temp) { ?>
<div id="weather" class="wc-<?= weather.code ?>
    ">
    <img src="/images/weather/<?= weather.textcode ?>
    .png" class="icon" />
    <span class="now">
        <?= weather.temp ?></span>
    <span class="high">
        <?= weather.high ?></span>
    <span class="low">
        <?= weather.low ?></span>
    <span class="text">
        <?= weather.text ?></span>
    <span class="location">
        <?= weather.location ?></span>
</div>
<? } ?>