

      <div id="time" class="prop">
      	<?= date.toString("HH:mm:ss") ?>
      </div>
      <div id="date" class="prop">
      	<?= date.toString("dddd MMM ddS") ?>
      </div>

      
      <? if (typeof weather == 'object' && weather.currently) { ?>
      <div id="weather" class="wc-<?= weather.currently.icon ?>">
            <!-- <img src="/images/weather/<?= weather.currently.icon.replace('-day', '') ?>.png" class="icon" /> -->

          <span class="forecast-icon forecast-icon-<?= weather.currently.icon ?>"></span>
            <span class="now"><?= weather.currently.temperature ?></span>
            <span class="text"><?= weather.currently.summary ?></span>
            <span class="location"><?= weather.timezone ?></span>
      </div>
      <? } ?>
      
      
      <? if (typeof reddit != 'undefined' && reddit.data && reddit.data.name) { ?>
      <div id="reddit" class="<?= reddit.data.has_mail ? 'has-mail' : '' ?>">
            <span class="name"><?= reddit.data.name ?></span>
            <span class="link-karma"><?= reddit.data.link_karma ?></span>
            <span class="comment-karma"><?= reddit.data.comment_karma ?></span>
      </div>
      <? } ?>

      